/* 自定义全局css */

body, blockquote {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 宋体;
    color: #000;
    word-break: break-all;
}

input, img {
    vertical-align: middle;
    border: 0 none;
    outline-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #175199;
    text-decoration: none;
}

/* 清除浮动 */
.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

/*自定义css*/
body {
    background-color: #F6F6F6;
    line-height: 1.6;
}

article {
    width: 888px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E4D0D0;
}

header {
    min-height: 120px;
    overflow: hidden;
    border-bottom: 1px solid #E4D0D0;
}

header h1 {
    text-align: center;
    margin: 25px auto 0;
    font-weight: 900;
    font-size: 40px;
    line-height: normal;
    font-family: Georgia, 华文行楷;
    color: #1a1a1a;
}

header #info {
    padding: 10px 20px;
    text-align: right;
    font-weight: 500;
    color: gray;
}

header #info #time {
    float: left;
}

.content {
    margin: 10px;
    max-width: 100%;
    overflow: hidden;
    word-break: break-all;
}

.content dl dt {
    font-weight: 900;
    font-size: 1.17em;
}

.content img, embed {
    display: block;
    margin: 1em auto;
    box-sizing: border-box;
    max-width: 100%;
    border: 1px dotted black;
    box-shadow: 1px 1px 25px blue;
    border-radius: 15px;
}

.content img.origin {
    display: inline-block;
    margin: 0;
    box-sizing: content-box;
    border: 0px;
}

.content pre, .content code {
    white-space: pre-wrap;
    word-break: break-all;
}

.content blockquote {
    margin: 1.4em 0;
    padding-left: 1em;
    color: #646464;
    border-left: 5px solid #D3D3D3;
    display: block;
    line-height: 1.6;
}

table {
    border-collapse: collapse;
    border: 1px solid #aaa;
    margin: 0 auto;
}

table th {
    background-color: #3F3F3F;
    border: 1px solid #3F3F3F;
    color: #fff;
}

table td {
    border: 1px solid #aaa;
    padding:0 4px;
}

table.atCenter td {
    text-align: center;
}

table tr:nth-child(odd) {
    background-color: #F5F5F5;
}

table tr:nth-child(even) {
    background-color: #fff;
}

em {
    color: rgb(164, 34, 16);
    font-weight: 900;
    font-style: normal;
}

strong {
    background-color: rgba(0, 255, 55, 0.33);
    font-weight: normal;
    font-style: normal;
}

footer {
    height: 100px;
}

.atLeft {
    text-align: left;
}

.atRight {
    text-align: right;
}

.atCenter {
    text-align: center;
}

.syntaxhighlighter code, .syntaxhighlighter div {
    word-break: normal;
}

.syntaxhighlighter pre, .syntaxhighlighter code {
    white-space: pre;
}